<a href="https://colab.research.google.com/github/lunaB/tutor_resource/blob/main/17%ED%9A%8C%EC%B0%A8_%EA%B3%BC%EC%99%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 1.21MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 22.3MB/s]
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 45.4MB/s]

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import torch
import torch.optim as optim
import torch.nn as nn

In [64]:
# 전처리
x_train = torch.FloatTensor([[0.2,0.3],
                             [0.2,0.8],
                             [0.3,1.2]])
y_train = torch.FloatTensor([[0.3],
                             [0.2],
                             [0.8]])

# 모델 생성
model = nn.Sequential(
    nn.Linear(2, 10),
    nn.ReLU(),
    nn.Linear(10, 10),
    nn.ReLU(),
    nn.Linear(10, 10),
    nn.ReLU(),
    nn.Linear(10, 1)
)

# 하이퍼 파라미터 설정
learnning_rate = 0.05
epochs = 5000

optimizer = optim.SGD(model.parameters(), lr=learnning_rate)
cost = nn.MSELoss()

for i in range(epochs+1):
    y = model(x_train)
    loss = cost(y, y_train)

    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    if i%1000 == 0:
        print(i, loss.item())

print(model(x_train))

0 0.7758705615997314
1000 3.70074332718459e-16
2000 0.0
3000 0.0
4000 0.0
5000 0.0
tensor([[0.3000],
        [0.2000],
        [0.8000]], grad_fn=<AddmmBackward>)

In [ ]:
# 기울기 소실
model = nn.Sequential(
    nn.Linear(2, 100),
    nn.Sigmoid(),
    nn.Linear(100, 100),
    nn.Sigmoid(),
    nn.Linear(100, 100),
    nn.Sigmoid(),
    nn.Linear(100, 100),
    nn.Sigmoid(),
    nn.Linear(100, 100),
    nn.Sigmoid(),
    nn.Linear(100, 100),
    nn.Sigmoid(),
    nn.Linear(100, 1)
)

# 정상
model = nn.Sequential(
    nn.Linear(2, 10),
    nn.ReLU(),
    nn.Linear(10, 10),
    nn.ReLU(),
    nn.Linear(10, 10),
    nn.ReLU(),
    nn.Linear(10, 1)
)

# 기본
optimizer = optim.SGD(model.parameters(), lr=learnning_rate)

# 영채 원픽
optimizer = optim.RMSprop(model.parameters(), lr=learnning_rate)
optimizer = optim.Adam(model.parameters(), lr=learnning_rate)

In [15]:
df = pd.read_csv('train.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [18]:
df2 = df[['Pclass','Name','Sex','Age','Fare']]
df2.head()

   Pclass                                               Name  ...   Age     Fare
0       3                            Braund, Mr. Owen Harris  ...  22.0   7.2500
1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...  38.0  71.2833
2       3                             Heikkinen, Miss. Laina  ...  26.0   7.9250
3       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  35.0  53.1000
4       3                           Allen, Mr. William Henry  ...  35.0   8.0500

[5 rows x 5 columns]